@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
.filament-tables th {
    background-color: #1e40af; /* biru tua */
    color: white;
    text-transform: uppercase;
}
.filament-tables tr:nth-child(even) {
    background-color: #dbeafe; /* biru muda */
}
